#admin-table
{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #122b40;
}
tr .center-text
{
    color: #0f0f0f;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}
.overlay {
    display: none;
}
td:hover .overlay{
    display: block;
}
.hover-text
{
    font-size: 12px;
    color: #1f648b;
}